NEXT_PUBLIC_SITE_NAME=Zoo Docs
NEXT_PUBLIC_SITE_URL=https://zoo.ngo/docs
NEXT_PUBLIC_NETWORK_NAME=Zoo
NEXT_PUBLIC_NETWORK_SHORT_NAME=ZOO
NEXT_PUBLIC_CHAIN_ID=200200
NEXT_PUBLIC_GITHUB_URL=https://github.com/zooai
